{% extends 'base.html' %}

{% block content %}

<form action="/update/{{student.id}}" method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>
                <input type="text" name="name" value="{{ student.name }}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" name="designation" value="{{ student.designation }}">
            </td>
        </tr>

        <tr>
            <td>
                <input type="text" name="city" value="{{ student.city }}">
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit" class="btn-success"> update </button>
            </td>
        </tr>
    </table>
</form>

{% endblock %}